body {
  margin: 0;
  background-color: steelblue;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --accent-color: rgb(204, 0, 0);
  --lightest-gray: rgb(244, 244, 244);
  --light-gray: rgb(144, 144, 144);
  --medium-gray: rgb(96, 96, 96);
  --dark-gray: rgb(13, 13, 13);
  --header-height: 40px;
  --animation-duration: 200ms;
  --animation-timing-curve: ease-in-out;
}

.header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .4);
  padding: 0 .5rem;
  height: var(--header-height);
}

.menu-icon-btn {
  background: none;
  border: none;
  padding: 0;
}

.styled2   {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
  margin-left: 198px;
}

.styled2:hover {
  background-color: rgba(255, 0, 0, 1);
}

.styled2:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.styled   {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
  margin-left: 350px;
}

.styled:hover {
  background-color: rgba(255, 0, 0, 1);
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.imagen1 {
  margin-left: 490px;
  width: 300px;
  height: 300px;
}

.pablo {
  margin-left: 80px;
  width: 100px;
  height: 100px;
}

.rafa {
  margin-left: 100px;
  width: 100px;
  height: 100px;
}

.estanis {
  margin-left: 100px;
  width: 100px;
  height: 100px;
}

.edu {
  margin-left: 100px;
  width: 100px;
  height: 100px;
}

.alvaro {
  margin-left: 100px;
  width: 100px;
  height: 100px;
}

.santi {
  margin-left: 100px;
  width: 100px;
  height: 100px;
}

.nombres {
  font-family: 'Cooper', arial;
  margin-left: 75px;
}

.menu-icon {
  width: 25px;
  height: 25px;
  fill: var(--medium-gray);
  cursor: pointer;
}

.menu-icon:hover {
  fill: var(--dark-gray);
}

.sidebar {
  flex-shrink: 0;
  overflow: hidden;
  width: 75px;
  border-right: 1px solid var(--light-gray);
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height));
  padding-top: 1rem;
  align-items: center;
  justify-content: stretch;
  transition: width var(--animation-duration) var(--animation-timing-curve);
  position: sticky;
  left: 0;
  top: var(--header-height);
}

.sidebar .hidden-sidebar {
  opacity: 0;
  width: 0;
  transition: opacity var(--animation-duration) var(--animation-timing-curve);
  color: black;
}

.sidebar.open .hidden-sidebar {
  width: 100%;
  height: auto;
  opacity: 1;
}

.titulo1 {
  text-align: center;
  font-family: 'Cooper', arial;
  font-size: small;
}

.titulo2 {
  margin-left: 500px;
  font-family: 'Cooper', arial;
  font-size: xxx-large;
}

.sidebar .top-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar .channel-logo {
  display: block;
  width: 30px;
  height: 30px;
  transition: var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .channel-logo {
  width: 90px;
  height: 90px;
}

.sidebar .channel-logo > img {
  width: 100%;
  height: 100%;
}

.middle-sidebar {
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  margin: 1rem 0;
}

.middle-sidebar,
.bottom-sidebar {
  width: 100%;
}

.container {
  display: flex;
}

.content {
  margin: 1rem;
  font-family: 'Cooper', arial;
}

.sidebar-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.sidebar.open .sidebar-link {
  justify-content: flex-start;
}

.sidebar-icon {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}

.sidebar-list .hidden-sidebar {
  margin-left: 1.5rem;
  white-space: nowrap;
}

.triptico {
  height: 800px;
  width: 1238px;
}

.video {
  margin-left: 200px;
  height: 480px;
  width: 800px;
}

.texto {
  font-family: 'Cooper', arial;
  margin-right: 400px;
  margin-left: 200px;
}

.texto2 {
  font-family: 'Cooper', arial;
  margin-left: 50px;
}

.sidebar-link {
  display: flex;
  width: 100%;
  padding: .5rem 0;
  color: var(--light-gray);
  text-decoration: none;
  align-items: center;
  padding-left: 25px;
}

.sidebar-list-item {
  position: relative;
  width: 100%;
  fill: var(--light-gray);
  font-family: 'Cooper', arial;
}

.sidebar-list-item:hover {
  background-color: var(--lightest-gray);
}

.sidebar-list-item.active::before {
  content: "";
  height: 100%;
  left: 0;
  width: 3px;
  position: absolute;
}

.sidebar.open {
  width: 200px;
}

.your-channel {
  color: var(--dark-gray);
  font-size: .75rem;
  font-weight: bold;
  margin-bottom: .15rem;
  margin-top: .5rem;
}

.channel-name {
  color: var(--medium-gray);
  font-size: .75rem;
}

.sidebar .top-sidebar {
  height: 30px;
  transition: height var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .top-sidebar {
  height: 125px;
}

.sidebar .top-sidebar .hidden-sidebar {
  text-align: center;
  width: 100%;
}

.contact_form{  
  width: 460px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}

input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: steelblue; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}

textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: steelblue; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}

label{
  display: block; 
  float: center;  
}

button p{
  color: black; 
}

span{
  color: steelblue; 
}

.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}

h1{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color: steelblue;
}

h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e;   
}

p{
  font-size: 14px; 
  color: #0e0e0e; 
}

::-webkit-input-placeholder {
 color: #a8a8a8;
}

::-webkit-textarea-placeholder {
 color: #a8a8a8;
}

.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}

.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}